$ff-text: 'Mohave', sans-serif;
$ff-header: 'Staatliches', sans-serif;

//Colors
$c-main-dark: #020202 ;
$c-main-light: #ffffff;
$c-background: #E2E2E2;
$c-grey: #4F646F;
$c-blue: #89D6FF;
$c-red: #AB2121;

$c-shadow: rgba(140, 33, 85, 1);

//MediaQueries
$sm: 425px;
$md: 480px;
$lg: 992px;