@import "../styles/variables";

.contact {
    border: 5px solid $c-main-dark;
    background-color: $c-main-dark;
    transform: translate(0, -5px);
    color: $c-main-light;
    padding-bottom: 48px;
    h2 {
        color: $c-blue;
        margin: 0;
        text-align: center;
        font-family: $ff-header;
        font-weight: 400;
        font-size: 32px;
        padding: 0 0 32px 0;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: $ff-text;
        gap: 8px;
        p{
            margin: 0;
        }
        a {
            color: $c-main-light;
            cursor: pointer;
        }
    }

}