@import "../../styles/variables";

.header {
    overflow: hidden;
    width: 100vw;
    height: 45vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(280deg, #c2c2c2, transparent 50%),
        linear-gradient(120deg, #c5c5c5, transparent 50%),
        linear-gradient(53deg, #bbbbbb, transparent 70.71%),
        linear-gradient(317deg, #afa8a8, transparent 70.71%);
    
    &__background-text {
        mix-blend-mode: color;
        font-family: $ff-header;
        margin: 0 0 20px 0;
        letter-spacing: 4px;
        font-size: 32vw;
        line-height: 70%;
        color: rgb(212, 212, 212);
    }
    
    &__image {
        position: absolute;
        width: 100%;
        bottom: -1px;
        left: 0px;
        filter: 
            drop-shadow(rgba(2, 2, 2, 0.15) 0.5px 1px 1px) 
            drop-shadow(rgba(2, 2, 2, 0.15) 1px 2px 2px) 
            drop-shadow(rgba(2, 2, 2, 0.15) 2px 4px 4px) 
            drop-shadow(rgba(2, 2, 2, 0.15) 4px 8px 8px) 
            drop-shadow(rgba(2, 2, 2, 0.15) 8px 16px 16px);
    }
    @media (min-width: $mobile-m) {
        height: 55vh;
    }
    @media (min-width: $mobile-l) {
        height: 65vh;
    }

    @media (min-width: $tablet-s) {
        
        height: 60vh;
        &__background-text {
            letter-spacing: 50px;
            font-size: 20vw;
        }
        &__image {
            left: 50%;
            transform: translate(-50%, 0);
            width: 65%;
        }
    }
    @media (min-width: $tablet-m) {
        height: 75vh;
    }
    @media (min-width: $laptop-s) {
        height: 40vh;
        &__background-text {
            letter-spacing: 28px;
            font-size: 30vw;
        }
        &__image {
            position: absolute;
            width: 30%;
            left: 0;
            transform: translate(-2%, 0);
        }
    }
    @media (min-width: $laptop-m) {
        &__image {
            width: 28%;
        }
    }
}