@import "../../styles/variables";

.project-info {
    color: $c-main-light;
    padding: 0px 38px 56px 38px;
    img {
        width: 250px;
        margin: 0 auto 46px auto ;
        display: block;
    }
    &__tech {
        list-style: none;
        display: grid;
        font-size: 12px;
        gap: 12px;
        grid-template-columns: repeat(3, 1fr); 

        padding: 0;
        li {
            font-family: $ff-header;
            font-weight: 400;
            text-align: center;
            border: 1px solid $c-main-light;
            border-radius: 2rem;
            padding: 4px 0px;
        }
    }
    &__desc {
        display: flex;
        font-family: $ff-text;
        font-weight: 300;
        flex-direction: column;
        padding: 24px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        button {
            background: $c-red;
            border-radius: 2rem;
            border: none;
            cursor: pointer;
            width: 40%;
            padding: 4px;
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;
            img {
                width: 14px;
                height: 14px;
                margin: 0;
            }
            a {
                color: $c-main-light;
                font-family: $ff-header;
                font-size: 18px;
                font-weight: 400;
                text-decoration: none;
            }

        }
    }
}