@import "../../styles/variables";

.project-info {
    color: $c-main-light;
    padding: 0px 38px 56px 38px;
    .close-icon {
        height: 16px;
        width: 16px;
        display: block;
        margin: 0 0 0 auto;
        transition: all 0.3s ease-out;
        &:hover{
            transform: scale(1.15);
            transition: all 0.3s ease-out;
        }
    }
    img {
        width: 300px;
        margin: 0 auto 46px auto ;
        display: block;
    }
    &__tech {
        list-style: none;
        display: grid;
        font-size: 12px;
        gap: 12px;
        grid-template-columns: repeat(3, 1fr); 
        padding: 0;
        li {
            font-family: $ff-header;
            font-weight: 400;
            text-align: center;
            border: 1px solid $c-main-light;
            border-radius: 2rem;
            padding: 4px 0px;        }
    }
    &__desc {
        display: flex;
        font-family: $ff-text;
        font-weight: 300;
        flex-direction: column;
        padding: 24px;
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        button {
            transition: all 0.3s ease-out;
            background: $c-red;
            border-radius: 2rem;
            border: none;
            cursor: pointer;
            width: 40%;
            padding: 4px;
            display: flex;
            align-items: center;
            gap: 8px;
            justify-content: center;
            img {
                width: 14px;
                height: 14px;
                margin: 0;
            }
            a {
                color: $c-main-light;
                font-family: $ff-header;
                font-size: 18px;
                font-weight: 400;
                text-decoration: none;
            }
            &:hover {
                transition: all 0.5s ease-out;
                background-color: #801a1a;
            }
        }
    }
    @media (min-width: $laptop-s) {
        padding: 46px 20%;
        img {
            width: 450px;
            margin: 0 auto 64px auto ;
        }
        &__tech {
            font-size: 16px;
            gap: 18px 54px;
            margin: 0;
        }
        &__desc {
            font-size: 18px;
            padding: 32px;
            margin: 0;
        }
        &__buttons {
            button {
                width: 30%;
                padding: 8px;
                img {
                    width: 18px;
                    height: 18px;
                }
                a {
                    font-size: 20px;
                }
            }
        }
    }
}