@import "../../styles/variables";

.project-badge {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 0 46px 0;
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $c-main-light;
        border-radius: 50%;
        height: 95px;
        width: 95px;
        transition: all 0.8s ease-out;
        img{
            height: 45px;
        }
        &:hover {
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 38%, rgba(252,176,69,1) 100%);
            transition: all 0.8s ease-out;
        }
    }
    &__title {
        font-weight: 400;
        font-family: $ff-header;
        color: $c-main-light;
        margin: 12px 0 0 0;
        font-size: 24px;
    }
    @media (min-width: $tablet-s) {
        &__icon {
            height: 115px;
            width: 115px;
            img{
                height: 52px;
            }
        }
        &__title {
            margin: 24px 0 0 0;
            font-size: 30px;
        }
    }
    @media (min-width: $laptop-s) {
        &__icon {
            height: 96px;
            width: 96px;
            img{
                height: 42px;
            }
        }
    }
}