@import "../../styles/variables";

@import "../../styles/variables";

.project-badge {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $c-main-light;
        border-radius: 50%;
        height: 95px;
        width: 95px;
        transition: all 0.8s ease-out;
        img{
            height: 45px;
        }
        &:hover {
            background-color: $c-grey;
            transition: all 0.8s ease-out;
        }
    }
    &__title {
        font-weight: 400;
        font-family: $ff-header;
        color: $c-main-light;
        margin: 12px 0 24px 0;
        font-size: 26px;
    }
}