@import "../../styles/variables";

.social-media-button {
    padding: 0;
    border: none;
    background-color: $c-main-light;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
        height: 42px;
    }
    @media (min-width: $tablet-s) {
        background-color: $c-main-dark;
        width: 56px;
        height: 56px;
        transition: all 2s ease-out;
        &:hover {
            transition: all 2 ease-out;
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 38%, rgba(252,176,69,1) 100%);
        }
        &__icon {
            height: 32px;
            filter: invert(1);
        }
    }
}