@import "../../styles/variables";

.social-media-button {
    padding: 0;
    border: none;
    background-color: $c-main-light;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &__icon {
        height: 42px;
    }
    @media (min-width: $tablet-s) {
        background-color: $c-main-dark;
        width: 56px;
        height: 56px;
        &__icon {
            height: 32px;
            filter: invert(1);
        }
    }
}